<div class="projects-container">
  <div class="page-title">
    <h2>Projects I've Worked On</h2>
  </div>

  <div class="projects-overview">
    <div class="project-card">
      <div class="project-card-img-container">
        <div class="pcic">
          <img class="img" src="../../assets/pictures/cool-js-wallpaper.jpeg" alt="">
        </div>
      </div>
      <div class="project-description-container">
        <h4 class="project-name">project 1</h4>
      </div>
    </div>

    <div class="project-card">
      <div class="project-card-img-container">
        <div class="pcic">
          <img class="img" src="../../assets/pictures/cool-js-wallpaper.jpeg" alt="">
        </div>
      </div>
      <div class="project-description-container">
        <h4 class="project-name">project 1</h4>
      </div>
    </div>

    <div class="project-card">
      <div class="project-card-img-container">
        <div class="pcic">
          <img class="img" src="../../assets/pictures/cool-js-wallpaper.jpeg" alt="">
        </div>
      </div>
      <div class="project-description-container">
        <h4 class="project-name">project 1</h4>
      </div>
    </div>

    <div class="project-card">
      <div class="project-card-img-container">
        <div class="pcic">
          <img class="img" src="../../assets/pictures/cool-js-wallpaper.jpeg" alt="">
        </div>
      </div>
      <div class="project-description-container">
        <h4 class="project-name">project 1</h4>
      </div>
    </div>

    <div class="project-card">
      <div class="project-card-img-container">
        <div class="pcic">
          <img class="img" src="../../assets/pictures/cool-js-wallpaper.jpeg" alt="">
        </div>
      </div>
      <div class="project-description-container">
        <h4 class="project-name">project 1</h4>
      </div>
    </div>

  </div>

</div>
