#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  border: 5px solid green;
  /*height: 100vh;*/
  /*z-index: -1;*/
}
/*my-container{*/
/*  position: fixed;*/
/*  width: 80%;*/
/*  height: 100%;*/
/*}*/
